{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'blog/snippets/list_tabs.html' %}
    <form method="POST" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form | crispy }}
                        <button class="btn btn-link float-right" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    </fieldset>
    </form>

        {% for m in chats %}
        <div class="message-wrapper">

                        {% if m.sender == user %}
                        <div class="block"></div>
                        <div class="user1-message card block">
                                <div>
                                     <p>
                                        <img class="rounded-circle mr-2 float-right" style="width: 30px; height: 30px;" src="{{ m.sender.profile.profile_picture.url }}">
                                        <a class="mr-2 text-white float-right" href="{% url 'user-profile-current' m.sender.username %}">{{ m.sender }}</a>
                                        <small class="text-muted float-left">{{ m.created_at|date:"F d, Y" }}</small>

                                    </p>
                                </div>
                                <hr>
                                <div class="message-text text-right">
                                    <p>
                                        {{ m.message|safe|linebreaks }}
                                    </p>
                                </div>
                        </div>


                        {% else %}
                        <div class="user2-message card block">
                              <div >
                                <p>
                                    <img class="rounded-circle mr-2 float-left" style="width: 30px; height: 30px;" src="{{ m.sender.profile.profile_picture.url }}">
                                    <a class="mr-2 text-white float-left" href="{% url 'user-profile-current' m.reciever.username %}">{{ m.sender }}</a>
                                    <small class="text-muted float-right">{{ m.created_at|date:"F d, Y" }}</small>

                                 </p>
                            </div>
                            <hr>
                            <div class="message-text text-left">
                                <p>
                                    {{ m.message|safe|linebreaks }}
                                </p>
                            </div>
                        </div>
                        <div class="block"></div>
                        <hr>
                        {% endif %}
        </div>
        {% endfor %}

{% endblock %}