{% extends 'blog/base.html' %}



{% block content %}
{% include 'blog/snippets/list_tabs.html' %}
<ul class="nav nav-pills nav-stacked">
    <li class="nav-item border border-dark">
        <a class="nav-link {{ dashboard_Tuto_tab }}" href="{% url 'learning:learning-current' %}">Tutorial</a>
    </li>
    <li class="nav-item border border-dark">
        <a class="nav-link {{ dashboard_Prob_tab }}" href="{% url 'learning:problem-list' %}">Problems</a>
    </li>
    <li class="nav-item border border-dark">
        <a class="nav-link {{ dashboard_Sub_tab }}" href="{% url 'learning:submission-list' %}">
            Submissions
        </a>
    </li>
    <li class="nav-item border border-dark nav-link" style="color:orange;">

            {% for tutorial in tutorials %}
                {% for c_user in current_user %}
                    {% if tutorial.score == c_user.score %}
                        Tutorial : {{tutorial.id}}
                    {% endif %}
                {% endfor %}

            {% endfor %}

    </li>

</ul>
<br>

    <div class="card">
        <div class="card-body">
            {% for tutorial in tutorials %}
                {% for c_user in current_user %}
                    {% if tutorial.score == c_user.score %}
                        <div class="cardLearning mb-2" style="color:#000000;">
                            <div class="card-body">
                                <p>
                                    <div>
                                        <h2 class="font-weight-bold text-center">{{ tutorial.title }}</h2>
                                        <hr>
                                        <p>
                                            {{ tutorial.content|safe }}
                                        </p>
                                    </div>
                                </p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}

        </div>
    </div>

{% endblock %}