{% extends 'blog/base.html' %}

{% block content %}
<br>
{% include 'blog/snippets/list_tabs.html' %}
<ul class="nav nav-pills nav-stacked">
    <li class="nav-item border border-dark">
        <a class="nav-link {{ dashboard_Tuto_tab }}" href="{% url 'learning:learning-current' %}">Tutorial</a>
    </li>
    <li class="nav-item border border-dark">
        <a class="nav-link {{ dashboard_Prob_tab }}" href="{% url 'learning:problem-list' %}">Problems</a>
    </li>
    <li class="nav-item border border-dark">
        <a class="nav-link {{ dashboard_Sub_tab }}" href="{% url 'learning:submission-list' %}">
            Submissions
        </a>
    </li>
    <li class="nav-item border border-dark nav-link" style="color:orange;">

            {% for c_user in current_user %}
                Your Current Score : {{c_user.score}}
            {% endfor %}

    </li>

</ul>
<br>

    <div class="card" style="color: black;">
        <div class="card-body">
            {% for tutorial in tutorials %}
                {% for c_user in current_user %}
                    {% if tutorial.score == c_user.score %}
                        <div class="card mb-2 " style="color: black;">
                            <div class="card-body">
                                <p>
                                    <div>
                                        <h2 class="font-weight-bold text-center">{{ tutorial.title }}</h2>
                                        <hr>
                                        <p>
                                            {{ tutorial.content|safe|linebreaks}}
                                        </p>
                                    </div>
                                </p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        <a href="{% url 'learning:problem-list' %}" class="add-blog btn btn-sm btn-outline-primary mr-0 txt-white float-right">
            <b>Next Tutorial</b>
        </a>

        </div>
    </div>

{% endblock %}