{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'blog/snippets/list_tabs.html' %}
{% include 'learning/snippets/list_tabs.html' %}
<br>
    <div class="row" style="color: black;">
        <div class="col-sm-9">
            <div class="cardLearning">
                <div class="card-body">
                    <h3> {{ problem.name }} </h3>
                    <br />
                    <p>
                        <span class="text-muted"> Limits </span> {{ problem.time_limit }}s, {{ problem.memory_limit }}MB
                    </p>
                    <br />
                    <p> {{ problem.statement|safe|linebreaks }} </p>
                    <br />
                    <h4> Input </h4>
                    <p> {{ problem.input_section|safe|linebreaks }} </p>
                    <br />
                    <h4> Output </h4>
                    <p> {{ problem.output_section|safe|linebreaks }} </p>
                    <br />
                    <h4> Sample </h4>
                    <table class="table tableLearning table-borderless">
                        <thead>
                            <tr style="border-bottom: 1px solid grey">
                                <th width="50%"> Input </th>
                                <th width="50%"> Output </th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    {% for testcase in testcases %}
                                        <tr>
                                            <td> {{ testcase.input_text|safe|linebreaks }} </td>
                                            <td> {{ testcase.output_text|safe|linebreaks }} </td>
                                        </tr>
                                        <br />
                                    {% endfor %}
                                </tr>
                                <br />
                        </tbody>
                    </table>
                    <!--Test Case notes goes here-->
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="cardLearning">
                <div class="card-body">
                    <h4> Submit </h4>
                    <br />
                    <form method="POST" action="{% url 'learning:submission-create' problem.id %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ submission_form|crispy }}
                        <div class="form-group">
                            <button class="btn btn-sm btn-primary" type="submit"> Submit </button>
                        </div>
                    </form>
                </div>
            </div>
            <br>
        </div>
    </div>
{% endblock %}