{% extends 'blog/base.html' %}

{% block content %}
{% include 'blog/snippets/list_tabs.html' %}
{% if user.is_authenticated %}
<div class="mb-4 d-flex">

        <div class="w-100" style="color: #113e42;" >

            <form method="get" action="{% url 'blog:search-post' %}" class="form-inline float-right">
                <input  class="form-control  mr-sm-2 border-0" style="color:#113e42; background-color:black;" type="search" placeholder="Search Post" aria-label="Search" name="query" id="query">
                <button class="btn btn-outline-primary btn-rounded my-2 my-sm-0" type="rsubmit">Search</button>
            </form>
        <a href="{% url 'blog:blog-create' %}" class="add-blog btn btn-sm btn-outline-primary mr-0 txt-white">
            <i class="fa fa-plus mr-1" style="color: primary;"></i> New Post
        </a>
    </div>
</div>
{% endif %}

{% comment %} Breadcrumb {% endcomment %}
{% for blog in blogs %}
<div class="blog-card card mt-4 " style="background-color: #333333;padding:20px 10px 10px">
    <div class="card-body">
        <p>
            <img class="rounded-circle mr-2" style="width: 30px; height: 30px;" src="{{ blog.author.profile.profile_picture.url }}">
            {% if blog.author == user %}
                <a class="mr-2 text-white" href="{% url 'user-profile-current' user.username %}">{{ blog.author }}</a>
            {% else %}
                <a class="mr-2 text-white" href="{% url 'user-profile' blog.author.profile.user.username %}">{{ blog.author }}</a>
            {% endif %}
            <small class="text-muted">{{ blog.created_at|date:"F d, Y" }}</small>
            <hr/>
            <div class="border-bottom" >
                    <a href="{% url 'blog:blog-details' blog.id %}" style="color:#ffffff;"><h2 class="font-weight-bold">{{ blog.title }}</h2></a>
                    <p>
                        {{ blog.truncated_content|safe }}
                        {% if blog.content|length > 500 %}
                            <a class="read-more" href="{% url 'blog:blog-details' blog.id %}"> Read More </a>
                        {% endif %}
                    </p>

            </div>
        <br>
            <div class="row">
                <div class="col-12" style="display: flex;">
                    <small >
                        <!-- Like Buttons Here -->
                        <a href="#" onClick="document.getElementById('likebutton_{{blog.id}}').submit()"><i class="fas fa-thumbs-up"></i></a> {{blog.likes}}   |   <a href="#" onClick="document.getElementById('dislikebutton_{{blog.id}}').submit()"><i class="fas fa-thumbs-down"></i></a> {{blog.dislikes}}
                        <form id="likebutton_{{blog.id}}" method="POST" action="{% url 'blog:postpreference' blog.id 1 %}">
                            {% csrf_token %}
                            <input name="post_id" value="{{ blog.id }}" type="hidden"/>
                        </form>
                        <form id="dislikebutton_{{blog.id}}" method="POST" action="{% url 'blog:postpreference' blog.id 2 %}">
                            {% csrf_token %}
                            <input name="post_id" value="{{ blog.id }}" type="hidden"/>
                        </form>
                    </small>
                    <small style=" margin-left:15px;" >
                        <a href="{% url 'blog:blog-details' blog.id %}" class="float-right">
                            <i style=" font-size: 16px;" class="far fa-comment"></i> {{ blog.number_of_comments }} comment(s)
                        </a>
                    </small>
                </div>
            </div>
        </p>
    </div>
</div>
{% endfor %}
{% include 'blog/snippets/paginations.html' %}
{% endblock %}