{% extends 'blog/base.html' %}

{% block content %}
{% include 'blog/snippets/list_tabs.html' %}
{% include 'blog/snippets/after_list_tab.html' %}

<div class="container">
    {% if follow == 'follows' %}
         <div class="col-12 no-padding">
             <div class="card" style="background-color: #113e42;">
                <div class="card-body" >
                    <h3 class="text-center text-uppercase monospace font-weight-bold">
                    F o l l o w i n g
                    </h3>
                    <div class="table-responsive p-1">
                        <table class="table table-bordered table-striped text-center" style="color:white;">
                        <thead >
                        <tr>
                            <th > #</th>
                            <th width="50%"><i class="fa fa-user dark"  aria-hidden="true"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for follow in follows %}
                            <tr>
                                <td> {{ forloop.counter }} </td>
                                <td><a href="#"> <img
                                           class="rounded-circle mr-2"
                                           style="width: 20px; height: 20px;"
                                           src="{{ follow.follow_user.profile.profile_picture.url }}">
                               <a class="mr-2 text-monospace font-weight-bold text-white" href="{% url 'user-profile' follow.follow_user.profile.user.username %}">
                                   {{ follow.follow_user.username }}
                               </a></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
             </div>
         </div>

    {% endif %}

    {% if follow == 'followers' %}
         <div class="col-12 no-padding">
             <div class="card" style="background-color: #113e42;">
                <div class="card-body" >
                    <h3 class="text-center text-uppercase monospace font-weight-bold">
                    F o l l o w i n g
                    </h3>
                    <div class="table-responsive p-1">
                        <table class="table table-bordered table-striped text-center" style="color:white;">
                        <thead >
                        <tr>
                            <th > #</th>
                            <th width="50%"><i class="fa fa-user dark"  aria-hidden="true"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for follow in follows %}
                            <tr>
                                <td> {{ forloop.counter }} </td>
                                <td><a href="#"> <img
                                           class="rounded-circle mr-2"
                                           style="width: 20px; height: 20px;"
                                           src="{{ follow.user.profile.profile_picture.url }}">
                                    {% if follow.user == user %}
                                        <a class="mr-2 text-monospace font-weight-bold text-white" href="{% url 'user-profile-current' follow.user.username %}">
                                            {{ follow.user.username }}
                                        </a>
                                    {% else %}
                                        <a class="mr-2 text-monospace font-weight-bold text-white" href="{% url 'user-profile' follow.user.username %}">
                                            {{ follow.user.username }}
                                        </a>
                                    {% endif %}
                                </a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        </table>
                    </div>
                </div>
             </div>
         </div>
    {% endif %}

{% include 'blog/snippets/paginations.html' %}
{% endblock %}